<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block short_desc %}3co.app delivers the Killer Queen Black stats that the community craves.{% endblock %}">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
    <title>{% block title %}{% endblock %} - 3co.app</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    {% block head %}{% endblock %}
</head>
<body onload="{% block onload %}{% endblock %}">
{% include 'nav.jinja2' %}

<div id="content">{% block content %}{% endblock %}</div>
<div class="buffer"></div>
<div class="discord">
    <a href="https://discord.gg/pXHk2MJKHR">
        <img src="{{ url_for('static', filename='Discord-Logo-White.png') }}" alt="BeeGame Discord">
        <span>Join the BeeGame Discord!</span>
    </a>
</div>
<div class="discord">
    <a href="https://discord.gg/YaWRktJnG2">
        <img src="{{ url_for('static', filename='Discord-Logo-White.png') }}" alt="BeeGame Discord">
        <span>Join the KQB Discord!</span>
    </a>
</div>
<div id="footer">
    {% include 'disclaimer.jinja2' %}
    {% block footer %}
        {{ current_year }} <a href="{{ url_for('main') }}">3co.app</a>
    {% endblock %}
</div>
</body>
</html>