<p>
    <strong>Disclaimer:</strong>
</p>
<div class="disclaimer">
    <p>
        Currently, all the stats on this site are derived from my personal stat files and eventually I plan on creating a
        way for the community to upload their stats as well. In the meantime, if you want your stats tracked you'll need to
        find me in QP or Ranked and bring your A-game.
    </p>
    <p>
        Alts to look out for: paauul, pol, NiceAtPingPong, stadiaplaya<br>
        The following are my alts as well but on platforms that don't provide logging: pal, Paauul (capital 'P'),
        Nice@PingPong
    </p>
</div>