{% extends "default.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>3co.app - KQB Stats for the Peoples</h1>

    <div class="desc">
        <p>What is up, y'all? You might be wondering what and why this page is. Lemme break it down for you.</p>
        <p>What: Killer Queen Black Stats. The plan is to have various leaderboards and whatnot to track stats like speed runs and the like.</p>
        <p>Why: Because I was <strong>BORED</strong>. I also like data and stats and I wanted to see how everyone stacks up against everyone else.</p>
        <p>I'm hoping this page will inspire people to do some real cool stuff.</p>
        <p>Love,<br>your pal paauul</p>
    </div>

{% endblock %}
