{% extends "default.jinja2" %}

{% block short_desc %}{{ short_desc }}{% endblock %}

{% block title %}{{ leaderboard_title }} Leaderboards{% endblock %}

{% block onload %}convertTimestamps();{% endblock %}

{% block content %}

    <h1>{{ leaderboard_title }} Leaderboards</h1>

    <div class="desc">{{ desc }}</div>

    <div class="container">
        {% for leaderboard_item in leaderboard_items %}
            <div class="content">
                {% if leaderboard_item.webp %}
                    <picture>
                        <source srcset="{{ leaderboard_item.webp }}" type="image/webp">
                        <img src="{{ leaderboard_item.map_image }}" alt="{{ leaderboard_item.content_title }}">
                    </picture>
                {% else %}
                    <img src="{{ leaderboard_item.map_image }}" alt="{{ leaderboard_item.content_title }}">
                {% endif %}
                <div class="overlay">
                    <div class="title">{{ leaderboard_item.content_title }}</div>
                    {% for leaderboard_entry in leaderboard_item.leaderboard_entries %}
                        {% if loop.index == 1 %}
                            <div class="hero{{ metric_class_modifier }}">
                                <div class="star-metric">{{ leaderboard_entry.metric }}</div>
                                <div class="player">{{ leaderboard_entry.player|e }}</div>
                                <div class="ts">{{ leaderboard_entry.ts }}</div>
                            </div>
                        {% else %}
                            <div class="sub-stat{{ metric_class_modifier }}">
                                <div class="star-metric">{{ leaderboard_entry.metric }}</div>
                                <div class="player">{{ leaderboard_entry.player|e }}</div>
                                <div class="ts">{{ leaderboard_entry.ts }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src={{ url_for('static', filename='convertTimestamps.js') }}></script>

{% endblock %}
